html,body{
    min-height: 100%;
}


body{
background: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxASEhUPEhIVFRUVFRAVFRUVDxUVDw8PFRUWFhUVFRUYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKBQUFDgUFDisZExkrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAOEA4QMBIgACEQEDEQH/xAAaAAADAQEBAQAAAAAAAAAAAAAAAQIDBAUH/8QAKBABAAICAQQCAQQDAQAAAAAAAAECAxESBBMhYUHwURQx4fFxocGR/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/APhoAAGAAMjAHAAAGJgCVooXEAk+LSfH8SzgDiCmFQYJmC0uIIEzCWlkAUwWjAFJGQEAABGAIAAYAAAGAAMAAYAwYFEqrJRB6BWt+f7kq/uYgEwZnxATH4KYOIMEyiVTBaBEg5ICEnJAQMgIGQAAAYVo+IJ0NL4jiCDVxVFQREDTXgWgRoNNFoEQ0rA4rj77BOiaxCYoCdHNPlfmPP5jX+BMgmKHxVrxuP5Tf/gItVEw0TIImC000nQJ0WmkwnQI0JhcwmYBOi0ogIHoA6YxiaNq1XwBzcBwdXAuAOeKLrRtOM4qDPts7UddKlagOTRzVtNE8QY8FabRVM0BEE014IEz50Xz98qiVVkE+hM/AgtgnRTEKmBNQQfFVYaRUGXEuLaYLiDnmES1vCJBnJHJADIwenWq5hnSWmwJWmcyrkBzCq1FLKgDrBXg5kVBE0TNGlkzIM5hMi8pA5hErReoESq1KYATG/v7oVMlaQBkcSBxCqyjknkDohneSrYSDKyJhdpTIM7QlVpSAAMHdWVzYr1QCtntOzkF0l0UctG1ZBtMJhcFaARZnKpPQMtJtDS1U6AogaK0HACafhDTR8Ac0wmYb2oniCdJmGnEcQZTCV2hFoBUSfJnEnACzOWkp0DGQ0mqdAkGAeplhi0vO0T4A4oVpOMiJARZ0Y2EVa45B1RI2iFwDGar01nGzmALiiaeXRSu1TiBzzjKMTurjVOAHH2hNHbGITh2DhnEznE9KMRx04POjCm2N6/YhGTpgeRfEwvietbC58lAedwLTstiTPTg5dDi6Jx6Y5IBlZEqljeQUSNgHr3qxtLe87Y8QRoS04pmoFyVSUxRpFQbUl0YocuPw6K2B0QO2ilm+LyCa4Wla/l10xH2gZ0x7bUxnXUDlqQKcSe3DbufC4xg5LYxpvmhydwHVFITkppnOXSJz7BOakOW2Jve7mvm0DLJXSJvoZcm2cVBWS0TDhzWb5Jcl5BnazKYa6Ptgw4m14yAelFUzDbe08QRocGkHEAyip6bdvZTQESdIE1OltA6cWN14sbnxZIdWIG9Jdeo05Ky25AwyeJK9ttMsMNgrHPl3UvGnnRZXe0DbNfbiyzpeS+/Lny5AZ3zSic7LLZnAOnuMMkyVVzAM61aSqFcNg4szDg9HspnpgcVca+26JxaSDDtG1AKrKuQ4lFQVENIhNaNIqB0K664plVsEg47yiJdV+nTXCBYpduPI564m9cYN65WsZXFxdFNA0vdz3u3rVE4QY8mcxLq7Cu1sHBa8pdl+mXHSwDyskM9PWydKy/Sg48VRZ326ZnfpwYUpttGPwvDib8d+AcloXWIaXwqph0Djy1c9qPRyQ58lAcga9oAmrakQ5f2XzB2RWFRMOOLDnIPQrkaUyR6efWZaRIOq9oYWv8AhUU+7Z3rINIuU5fbC3hlafnYOqLNotDz4t7a0v7B6NLw3pMPKrd0YsnsHdqFRickW9tqX+7B148MKnFDCt/f+zmN/wBg17cMrYYGp/MpiN/M/wDvyAnEXZgXx/GzinuQc+TFEfKItENL4Pcua2GfYNptB8405bUljeZ/Mg6cloc97QxtE/mWGTfsHXyj8wTh3P2ADaaz9lFp/wAHe7LkCtzBxllnzHc+/AOumXbfFf7uHnxba629g9St4/bact4cE5ITygHTM+2Vre4Y2t92jl92DaZKLMrXlM2B1Rl0v9RpwzkKbg9TH1cNP1Tx4udcoPYp1box9W8GMrTHn0D2p6nR/q3jT1MlPUA9mOsgp6t4s5pKM4PXv1Hthfq9POnPLO2UHdfqvbKMzjm5TcHXOZnbK5uclNgdHdg3Jswb2zJnLLn2ewaclRLGJVyBtFlcvbniT2DfuDmw2XIG85C7n3TCbFyBtN5TzZ7IGvMdxjJA2m5c2e02B0chzc2z2Do7g7jn5DkDo7hc2HIbBvN08mOz2DTkXJnMlsGnIpsjYBXII2AajadjYK2aNnMgrY2jY2CtlNk7GwVstlsoBcyW07GwPY2mZGwVsTKdjYGC2AMy2NgDgtlsD0ei2NgJgogwBA5LYADYBRgAQkAAAAKQABScAARAAAAABgCAAHIAAEYAEABwAAEkABgAH//Z") center center / cover no-repeat; 
background-size: cover;
background-repeat:repeat ;
background-attachment: fixed;
}
.floatingtext{
  margin-top: 20px;
  position: absolute;
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  color: #bfff1c;
  animation: shakeUpDown 0.15s infinite;
}


@keyframes shakeUpDown {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(5px, 7px);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  75% {
    transform: translate(4px, -3px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.learn-more-btn {
  display: inline-block;
  padding: 30px 45px;      
  background-color: #ff0e0e; 
  color: #000;       
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none; 
  margin-top: 43%;  
  border-radius: 12px;    
  margin-left: 40%;
  box-shadow: 0 0 10px rgba(253, 26, 26, 0.7);
  
}

.learn-more-btn:hover {
  transform: scale(1.1);
 }
.dare{
    margin-top: 20%;
  position: absolute;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #e30000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.idk{
margin-top: 29%;
  position: absolute;
  margin-left: 50px;
  font-size: 1rem;
  font-weight: bold;
  color:rgb(255, 255, 20);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

 
}