img {
    width: 1400px;
    height: 500px;
}

.para{
    color:rgb(37, 51, 129);
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgba(171, 201, 228, 0.566);
    color:rgb(6, 6, 60);
    
}

.title{
    color:rgb(106, 106, 188);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

fieldset {
 position: relative;
  color: rgb(10, 16, 56);
  background: rgba(32, 24, 24, 0.04); 
  overflow:hidden;
  height:300px;
}

legend{
    color: rgb(41, 108, 184)
}

.players{
    width: 100px;
    height: 100px;
}

.court{
    color:rgb(37, 51, 129);
}

h4{
    color:rgb(26, 34, 79);
}

.imgpos{
height:1000%;
}

.equip{
    color:rgb(37, 51, 129);
}

.last{
     color:rgb(37, 51, 129);
     text-align:center;
}

.haikyu{
    width:50%;
    height:1000%;
}
