img {
    width: 1000px;
    height: 300px;
    border-radius: 20px;
}

.para{
    color:rgb(37, 51, 129);
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background: #f5f5f5;
     text-align: center;  
}

.title{
    color:rgb(0, 0, 2);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}



legend{
    color: rgb(41, 108, 184)
}

.players{
    width: 100px;
    height: 100px;
}

.court{
    color:rgb(37, 51, 129);
}

h4{
    color:rgb(26, 34, 79);
}



.equip{
    color:rgb(6, 8, 23);
}

.last{
     color:rgb(37, 51, 129);
     text-align:center;
}




.every{
   color:rgb(37, 51, 129);
}

