html,body{
    min-height: 100%;
}
body{
background: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAJQAlAMBIgACEQEDEQH/xAAYAAEBAQEBAAAAAAAAAAAAAAAAAQIDB//EADIQAAEDAgUCBAQGAwEAAAAAAAEAESECMRJBUXGRYYEiMlKhQpKx0QNicsHh8YKi8BP/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A9Y4UxZkO/wBVbjwgcBHBciw6BBAZybdUGbhWHtT2AS0kBtgghMvpKlsh0la6w2wQax3AsgUl/M3N1YzI+6lpLcBUxJA4CDJJzta91oVeHxABod0tdm2CWIcA7gIKC4csDl0KeYXYqxaC/QJaliKZsWlBzcloYmWdXEW8oB3VtDB8oCVHJhuwQS/7oSwhn0dUTYDgJeIfoAghJYai8qP0A7rXSHzgKRoB2CARQfNfdEf8r7UhEGADmtDp2lTOMlZe/CAwZqfqoAVY1VAmCggp1z6qxn3lUbwhE3+yCeZm7yssWErTKx7IIBHW91YYfdANC26Bwb8oIQ8hXCbulMUkRqgszsgR2F5Qhy4+qMRchUOzFtJQYY+6AamF0LYWzdoWSHsW2QSOx6qNMfVak58IRZy+yDLV/CCRuiuxCIMtDcqAEi5nqj0mAaTrIhXFSZxUsc3CC0iJc69UyZp1hTEAXxBt7K4qfUG1dBSCREMoQWiohs3VFVOtLDNwpipfzAaSEFIiARp0VNhCziALGqlspVNVPqAG90AgnNu6hpkGdnVxUs5IawkIDT8VQG5CBpBWmkQyyKhc1Ad1cVBpeqqkVboBE3OzqAVYhc9HVFQwkFhVo4QV0i9QFWjhBpjSZBWZcrRrFUuH0dYxU+oE6OEEFJe55VFLEs5UxU60uOoQ105VUnuEFYHUdwiyT+HmaT3RAG56SYVFVRnEXylQsHH7n7qYh1nqUG8RI8x5Ut4v3UBpJaSdyqAAc+SgoLeJ51fJXGR4sRfdZJAEuDuVMQEEkdz90GsVV8R2e6rADFr1KgwmzuLyY90p6Av+ooLiNNiec0NdQtUZyfNARkCC2pWTVTYO+jlBrZ51K0Wp8ILe6xBmkFv1FU3JALZ+IoLiIOEEgG02Q1ny5KEgHNheShYmxg6lBQ0gk8+yy8t+6MND8xRxoW3KCiokYTUesoS8HFys46QXltyq4Jz5KCA1C2I90Q0n4RzUUQRo81uiMDn7MpTi091QI6boLGo4RpEhZLt/KrlvL7oNG7mr2UYPcdwoHItG6rFvpKCsG8wm8ILuCH2WS4aI3VNX5W7oN0FiXLZ+VQACxHChdhGeqpBf+boFLD4hwrTAbENmWKiQZHuhJceFu6DQp8N4GWFPhbEB0ZSbNO6su5vughZmxCzKAOGxBtkcv5X7oHNVvdAIBz/1TJnHCTiLX3RiJA97INf5D5VVyg3BfdEAlzEDZH/plQ5Fy+6gNZDiSbSgry+SOM3nogqqMkmeuSObudQXQHl/ZUGeihNTAh33QVVgPpJlAB/iFQQMvZAahcmLq+IZl85QR9ZyQG4Mo9Qs8x3UesW2EoK7iZJvCAx12VmGJnrmj1ZEseqCf9sjx11ZR6wcIBDyzrQNedt0EeOt0NWg7qk1Ymc69lCaupA6oI/9tdHP/BAanIlqc3VBqnFl1zQTFToir15T3RBmB8I4VGH0g7rMicR4CsWcsECHsCkO2EPshtBL9lJclzwEGvCPhD6pBsAOqgcHzHgJFy6CxY0h+gRh6RwpLuCfZADfEWPQIL4cqQFWBEUAKCLk9mQNdyOEFgv4Q2yRoG2UmZPAhRj6iOEFOHKkNpqr4W8obRSBr2ZCzEB0Fj0jhPC00htFlj6jpYI2pKC+H0gjRIHwjbRIbP2UPQn2QVnRQfqPsiAHHpbqSggZRuhDwaavlKhoN8Nb7EINAFmcKdxz/CYSC7VcFJzpqmTBQGLN4WMXLq3EYdBJUYnKtxpSVMBe1es0lBrK4Q2uO39KCk0lxTVPQqy/lqi3hKAQc8OsEoQfy8qYTfD+JpFJQUEO4q08pQWQb08n7Jpbn+EAIDNVMGCkkeWr5SgfLHUpL/D7rIoNsP4k/lKopLeWpz0KC96eT9kl4I7lGLWq1sbqERar5SgrFzZz1Kg7e6hoNm/Ei3hKuEjKrgoBNIMmh+pP2UWpEYD8hRBl3CAaBGHppm0BUgPYcIJACQ0IQLNTwjB2wieiBBuq2gQM7NTwEhyGHCAQAlrfVGBvTTHRTDT6aeEFMyJyRmhvdAAYYcIJyHCAWCO1kYH4RwjD0jhAwuWa6N0TJ2HCRdhwgOEBaAmEekcKMNBwguGTFuqNqhyLDhGHpHCBOTNuon/mDnSP8UQaIaoBXAHAlEQQ0gFpsgD1MiIApBqIWhQDUzmAiII0kdVAHfoiILRQKgXJg5Kj8MHEXMFEQZaHQB6HREGqKAaRU5TAB+Hic2dEQZIhKgwdEQbqoADue6lVApEE3zREEFAOZREQf//Z")center center / cover no-repeat; 
background-size: cover;
background-size: cover;
background-repeat:repeat ;
background-attachment: fixed;
}

.fun{
 margin-top: 5%;
  margin-left: 35px;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
   
   color:rgb(22, 22, 209);
}


.parents{
    margin-top: 30px;
  margin-left: 35px;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
   color: rgb(255, 0, 106);
}

.emoj{
  margin-top: -20%;
  margin-left: 70%;
  font-size: 3rem;
 
}

.cooked{
 margin-top: 55px;
  margin-left: 35px;
  font-size: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
   color: rgb(4, 243, 39);
}

.thread img{
    margin-left: 30%;
    height: auto;
  width: 40%;
}

.gyat{
  margin-top: 55px;
  margin-left: 10px;
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
   color: rgb(243, 4, 4);  
}

.rizz{
     margin-top: 50px;
  margin-left: 75%;
  font-size: 1.67rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
   color: rgb(14, 34, 255); 
}

.emoji{
    margin-top: -25%;
 margin-left: 15%;
  font-size: 5rem;
}

.ranimg img{
     margin-left: 10%;
    height: auto;
  width: 10%;
  transition: border-radius 0.3 ease;
}

.ranimg img:hover{
      cursor: pointer;
      border-radius: 50%;

}

.learn-more-btn {
  display: inline-block;
  padding: 30px 45px;      
  background-color: #00ff55; 
  color: #000;       
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none; 
  margin-top: 6%;  
  border-radius: 12px;    
  margin-left: 30%;
  
  
}

.learn-more-btn:hover {
  transform: scale(1.1);
 }